
    <div class="creation-selector d-flex justify-content-start">
        <a href="/Thread/Create" id="creation-selector-thread-selection" class="creation-element creation-element-focused">Thread</a>
    </div>

    <partial name="_ThreadCreatePartial" />

