@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div id="login-form" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="mb-4" style="color: #FF4500; font-weight: bold; text-shadow: 2px 2px 4px black;">@ViewData["Title"]</h1>
        <div class="row">
            <div class="col-md-12">
                <section>
                    <form id="account" method="post">
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.UsernameOrEmail" class="form-control" autocomplete="username" aria-required="true" placeholder="Your cool username or email..." />
                            <label asp-for="Input.UsernameOrEmail" class="form-label">Email</label>
                            <span asp-validation-for="Input.UsernameOrEmail" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Your super stronk password..." />
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                        </div>
                        <div>
                            <p>
                                <a asp-page="./Register" style="color: #00AEEF;">Register as a new user</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
    [...document.querySelectorAll('#login-form input')].forEach(e => {
        e.addEventListener('focusin', () => {
            e.parentElement.querySelector('label').style.display = 'inline-block';
        });

        e.addEventListener('focusout', () => {
            e.parentElement.querySelector('label').style.display = 'none';
        });
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
